* {
  font-family: verdana;
}

h1 {
  color: red;
  padding: 15px;
  font-weight: 300;
  text-align: center;
  background-color: blue;
}

p {
 color: black; 
}

h6 {
  font-size: 20px;
  text-align: center;
}
