* {
  font-family: verdana;
}

body {
  background-color: black;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: visible;
  height: 35px;
  width: 100%;
  background-color: #4287f5;
  color: white;
  margin-top: 0px;
  padding: 20px;
}

h6 {
  font-color: white;
  font-size: 20px;
  text-align: center;
}

.red {
  border-radius: 10px;
  color: #181818;
  background-color: tomato;
  padding: 20px;
  margin: 20px;
}

.blue {
  border-radius: 10px;
  color: #181818;
  background-color: powderblue;
  padding: 20px;
  margin: 20px;
}

.yellow {
  border-radius: 10px;
  color: #181818;
  background-color: yellow;
  padding: 20px;
  margin: 20px;
}

.heading {
  font-size: 30px;
  color: #181818;
}

.bottom {
  font-color: white;
}
