* {
  font-family: verdana;
}

body {
  background-color: white;
}

h1 {
  color: white;
  padding: 15px;
  font-weight: 300;
  text-align: center;
  background-color: blue;
  height: fit-content;
  width: fit-screen;
}

p {
  color: black;
}

h6 {
  font-color: black;
  font-size: 20px;
  text-align: center;
}

.red {
  color: #181818;
  background-color: tomato;
  padding: 20px;
  margin: 20px;
}

.blue {
  color: #181818;
  background-color: powderblue;
  padding: 20px;
  margin: 20px;
}

.yellow {
  color: #181818;
  background-color: yellow;
  padding: 20px;
  margin: 20px;
}
